services:
  db:
    image: postgres:14
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: backend_db
    volumes:
      - backend_db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  backend_db_data:
